<div>
  <h2 id="page-heading" data-cy="ImmunizationHeading">
    <span itpTranslate="clinicalApp.immunization.home.title">Immunizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span itpTranslate="clinicalApp.immunization.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-immunization"
        [routerLink]="['/immunization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span itpTranslate="clinicalApp.immunization.home.createLabel"> Create a new Immunization </span>
      </button>
    </div>
  </h2>

  <itp-alert-error></itp-alert-error>

  <itp-alert></itp-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="immunizations?.length === 0">
    <span itpTranslate="clinicalApp.immunization.home.notFound">No Immunizations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="immunizations && immunizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr itpSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" itpSortBy="id">
            <div class="d-flex">
              <span itpTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" itpSortBy="immunization">
            <div class="d-flex">
              <span itpTranslate="clinicalApp.immunization.immunization">Immunization</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" itpSortBy="date">
            <div class="d-flex">
              <span itpTranslate="clinicalApp.immunization.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" itpSortBy="patientUID">
            <div class="d-flex">
              <span itpTranslate="clinicalApp.immunization.patientUID">Patient UID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let immunization of immunizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/immunization', immunization.id, 'view']">{{ immunization.id }}</a>
          </td>
          <td>{{ immunization.immunization }}</td>
          <td>{{ immunization.date | formatMediumDate }}</td>
          <td>{{ immunization.patientUID }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/immunization', immunization.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" itpTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/immunization', immunization.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" itpTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(immunization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" itpTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="immunizations && immunizations.length > 0">
    <div class="d-flex justify-content-center">
      <itp-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></itp-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
