<form *ngIf="factclinical" name="deleteForm" (ngSubmit)="confirmDelete(factclinical.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="factclinicalDeleteDialogHeading" itpTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <itp-alert-error></itp-alert-error>
    <p
      id="itp-delete-factclinical-heading"
      itpTranslate="clinicalApp.factclinical.delete.question"
      [translateValues]="{ id: factclinical.id }"
    >
      Are you sure you want to delete Factclinical {{ factclinical.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span itpTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="itp-confirm-delete-factclinical" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span itpTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
